@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
:root {
    --myBlack: #2B2D32;
    --myBlackBorder: #5D616B;
    --myRed: #DB4D54;
    --myRedBorder: #CE4249;
    --myGreen: #80AB51;
    --myGreenBorder: #658B3B;
    --myYellow: #E7C764;
    --myYellowBorder: #CCA835;
    --myBlue: #35BBCC;
    --myBlueBorder: #289FAE;
    --myGray: #f4f5f8;
    --myGrayBorder: darkgray;
    --pageBorder: #d8d8d8;
    --pageBG: #f4f5f8;
    --pageBGHover: #e8e9ef;
}

body {
    padding: 0 !important;
    text-align: right;
    font-size: 13px;
    font-family: 'IRANSans', tahoma, serif;
    font-weight: normal;
    direction: rtl;
    min-height: 0 !important;
    color: var(--myBlack);
    min-width: 360px;
    background: var(--pageBG);
}

@media screen and (min-width: 1900px) {

}

.masterWrapper {
    margin-top: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 15px;
}

input::placeholder {
    font-weight: 100;
    color: var(--myGrayBorder);
    font-size: .8em;
    font-family: FontAwesome, 'IRANSans';
}

.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child), .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text {
    border-radius: 0;

}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-radius: 0;
}

i {
    vertical-align: baseline;
}

a {
    color: var(--myBlack);
}

a:hover {
    color: var(--myBlack);
    text-decoration: none;

}

a:hover i {
    color: var(--myRed);
}

.topHeader {
    padding: 5px 30px;
    background: var(--myBlack);
    height: 4.5em;
    border-top: 5px solid var(--myYellow);
}

.topHeader .userInfo {
    padding: 0;
}

.topHeader .userInfo span {
    color: white;
    padding-left: 30px;
    font-size: 1.2em;
    font-weight: 100;
}

.topHeader time {
    color: #ffffff;
    border: 1px solid var(--myBlackBorder);
    margin-left: 30px;
    padding: 9px 16px 9px 16px;
    border-radius: 4px;
}

main.pageWrapper {
    padding: 0;
}

.pageSubMenu {
    border-bottom: 1px solid var(--pageBorder);

}

.pageSubMenu a {
    font-size: 1.1em;
    font-weight: 200;
}

.pageSubMenu a.active {
    color: var(--myRed);
    border-bottom: 3px solid var(--myRed);
    font-weight: 400;
}

.pageSubMenu a:hover {

    font-weight: 400;
}

main a.bigLogo {
    width: 15em;
    display: block;
    margin: auto;
}

a.smallLink {
    color: var(--myBlack);
    font-style: italic;
    font-weight: 100;
}

aside.mainAside {
    padding: 0;
    padding-left: 25px;
    height: calc(100vh - 85px);
}

form#systemLogin {
    border: 5px solid #BFD5A8;
    width: 450px;
    text-align: center;
    margin: auto;
    background: #eeeeee;
    padding: 25px;
}

form#systemLogin .form-group {
    margin-bottom: 10px;
}

form#systemLogin .submitButton {
    width: 100%;
    background: var(--myGreen);
    border: none;
    margin-bottom: 15px;
}

form#systemLogin .submitButton:hover {
    background: var(--myGreen);
}

.mainAside nav {

}

.mainAside nav ul {
    padding: 0;
}

.mainAside nav ul li {
    list-style-type: none;
}

.mainAside nav ul li a {
    padding: 15px 0;
    padding-right: 30px;
    font-size: 1em;
    display: block;
    font-weight: 100;
}

.mainAside nav ul li a:hover {
    background: var(--pageBGHover);
    font-weight: 400;
}

.mainAside nav ul li a.active {
    border-right: 5px solid var(--myRed);
    background: var(--pageBGHover);
    font-weight: 400;
}

.mainAside nav ul li a.active i {
    color: var(--myRed);
}

.mainAside nav ul li a i {
    padding-left: 30px;
}

main.pageContent {
    padding: 0;
    padding-left: 25px;
    margin: 0;
    position: absolute;
    top: 41px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

main.pageContent a:hover {

}

main.pageContent a:hover i {
}

main.pageContent .userPageContent {
    margin: 0;
}

a.mainButton {
    display: inline-block;
    text-align: center;
    padding: 9px 15px;
    color: white;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
}

a.mainButton:hover {

}

a.mainButton i {
    color: white;
}

a.greenButton {
    background: var(--myGreen);
    border-color: var(--myGreenBorder);
}

a.greenButton:hover {
    background: var(--myGreenBorder);
    color: white;
}

button.greenButton {
    background: var(--myGreen);
    border-color: var(--myGreenBorder);
}

button.greenButton:hover {
    background: var(--myGreenBorder);
    color: white;
    cursor: pointer;
}

a.redButton {
    background: var(--myRed);
    border-color: var(--myRedBorder);
}

a.redButton:hover {
    background: var(--myRedBorder);
    color: white;
}

button.redButton {
    background: var(--myRed);
    border-color: var(--myRedBorder);
}

button.redButton:hover {
    background: var(--myRedBorder);
    color: white;
    cursor: pointer;
}

a.whiteButton {
    background: white;
    color: var(--myGreen);
    border-color: var(--myGreenBorder);
}

a.whiteButton:hover {
    background: var(--myGreenBorder);
    color: white;
}

a.yellowButton {
    background: var(--myYellow);
    border-color: var(--myYellowBorder);
}

a.yellowButton:hover {
    background: var(--myYellowBorder);
    color: white;
}

button.yellowButton {
    background: var(--myYellow);
    border-color: var(--myYellowBorder);
}

button.yellowButton:hover {
    background: var(--myYellowBorder);
    color: white;
    cursor: pointer;
}

a.blueButton {
    background: var(--myBlue);
    border-color: var(--myBlueBorder);
}

a.blueButton:hover {
    background: var(--myBlueBorder);
    color: white;
}

button.blueButton {
    background: var(--myBlue);
    border-color: var(--myBlueBorder);
}

button.blueButton:hover {
    background: var(--myBlueBorder);
    color: white;
    cursor: pointer;
}

a.blackButton {
    background: var(--myBlack);
    border-color: var(--myBlackBorder);
}

a.blackButton:hover {
    background: var(--myBlackBorder);
    color: white;
}

a.grayButton {
    color: var(--myBlack);
    background: var(--myGray);
    border-color: var(--myGrayBorder);
}

a.grayButton i {
    color: var(--myBlack);
}

a.grayButton:hover {
    border-color: var(--myBlack);
}

a.iconButton i {
    color: var(--myGrayBorder);
    font-size: 1.2em;
}

a.iconButton:hover i {
    color: var(--myGreen);
}

a.iconButton.active {
    border-bottom: 3px solid var(--myGreen);
}

a.iconButton.active i {
    color: var(--myGreen);
}

main.pageContent a.addUser {
    margin: 15px 0;
    float: left;
}

.redText {
    color: var(--myRed);
}

main.pageContent a.addUser:hover {
}

main.pageContent a.addUser:hover i {
    color: white;
}

main.pageContent .listFilter {
    width: 200px;
    margin: 15px 0;
    float: right;
}

main.pageContent .userPageContent main {
    padding: 0;
}

main.pageContent .userPageContent main i.overTime {
    color: var(--myGreen);
    padding-left: 5px;
}

main.pageContent .userPageContent main i.abscense {
    color: var(--myRed);
    padding-left: 5px;
}

.tableWrapper {
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--pageBorder);
    margin-bottom: 30px;
}

table {
    margin-bottom: 0 !important;
}

thead th {
    border: none !important;
    border-bottom: 3px double var(--pageBorder) !important;
    border-left: 1px dotted var(--pageBorder) !important;
}

tr {
    border-bottom: 1px solid var(--pageBorder) !important;
}

tr:last-child {
    border-bottom: none !important;
}

th, td {
    border: none !important;
    border-left: 1px dotted var(--pageBorder) !important;
}

tr:hover {
    background: var(--pageBG);
}

th:last-child, td:last-child {
    border-left: none !important;
}

tbody {

}

.pagination {
    padding: 0;
    margin-top: 5px;
}

.pagination .page-item .page-link {
    color: var(--myBlack);
    font-size: 1em;
    font-weight: 100;
}

.pagination .page-item.active .page-link {
    background: var(--myGreen);
    color: white;
    border: 1px solid var(--myGreen);
}

.pagination .page-item.disabled .page-link {
    background: var(--pageBG);
}

.pagination .page-item:first-child .page-link {
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-left: -1px;
}

.pagination .page-item:last-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mainModal {
    background: var(--pageBG);
    right: 16.66%;
    bottom: 40px;
    top: 127px;
    left: 40px;
    border: 10px solid var(--myBlack);
    padding: 0 !important;
    width: inherit;
    height: inherit;
    overflow: hidden !important;
}

.mainModal .modal-dialog {
    margin: 0;
    max-width: inherit;
    height: 100%;
}

.mainModal .modal-dialog .modal-content {
    border: none;
    background: var(--pageBG);
    border-radius: 0;
    height: 100%;
}

.mainModal .modal-dialog .modal-content .modalHeader {
    border: none;
    border-bottom: 1px solid var(--pageBorder);
    padding: 0;
    height: 55px;
    width: 100%;
}

.mainModal .modal-dialog .modal-content .modalHeader .modalTitle {
    font-size: 1.3em;
    padding: 16px;
    border-bottom: 3px solid var(--myGreen);
    margin: 0;
    font-weight: 300;
    display: inline-block;
}

.mainModal .modal-dialog .modal-content .modalHeader .mainButton {
    float: left;
    margin-left: 7px;
    margin-top: 7px;
}

.mainModal .modal-dialog .modal-content .modal-header .mainButton .close {

}

.mainModal .modal-dialog .modal-content .modal-body {
    border: none;
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    height: calc(100% - 55px);
}

.mainModal .modal-dialog .modal-content .modal-body .container-fluid {
    padding: 0;
}

.mainModal .modal-dialog .modal-content .modal-body .container-fluid .row {
    margin: 0;
}

.mainModal .modal-dialog .modal-content .modal-body main {
    padding-left: 0;
    padding-right: .5rem;
}

.mainModal .modal-dialog .modal-content .modal-body aside {
    padding-right: 0;
    padding-left: .5rem;
}

.mainModal .modal-dialog .modal-content .modal-body nav {
    border-bottom: 1px solid var(--pageBorder);
    margin-top: 10px;
}

.mainModal .modal-dialog .modal-content .modal-footer {
    border: none;
}

form {

}

form h3 {
    margin-top: 20px;
}

form .row {
    padding: 0 15px;
    margin-bottom: 5px;
}

form .row div {
    padding: 0;
    padding-left: 5px;
}

form .row div:last-child {
    padding-left: 0;
}

form .row div input {
    margin-bottom: 5px;
}

.mainModal .cafeMenuNav {
    border: none !important;
}

.mainModal .cafeMenuNav ul {
    padding: 0;
    border-bottom: none;
}

.mainModal .cafeMenuNav ul ul {
    margin-bottom: 5px;
    margin-right: -15px;
    background: var(--pageBorder);
    margin-top: 10px;
    padding-bottom: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mainModal .cafeMenuNav li {
    list-style-type: none;
}

.mainModal .cafeMenuNav a {
    padding: 0;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: 200;
}

.mainModal .cafeMenuNav li li a {
    padding-right: 20px;
}

.mainModal .cafeMenuNav li li a:hover {
    cursor: copy;
}

.mainModal .cafeMenuNav a.active {
    font-weight: 400;
}

.mainModal .cafeMenuNav a:hover {
    font-weight: 400;
}

table.invoiceTable {
    width: 100%;
    margin-bottom: 5px !important;
    border-collapse: separate;
    border-spacing: 0;
}

table.invoiceTable tbody {

}

table.invoiceTable tr:hover {
    background: inherit;
}

table.invoiceTable tr td, table.invoiceTable tr th {
    padding: 10px;
    background: white;
    border-bottom: 1px solid var(--pageBorder) !important;
    border-left: 1px solid var(--pageBorder) !important;
}

table.invoiceTable tr:first-child td, table.invoiceTable tr:first-child th {
    border-top: 1px solid var(--pageBorder) !important;
}

table.invoiceTable tr td:first-child, table.invoiceTable tr th:first-child {
    border-right: 1px solid var(--pageBorder) !important;
}

table.invoiceTable tr:first-child td:first-child, table.invoiceTable tr:first-child th:first-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

table.invoiceTable tr:first-child td:last-child, table.invoiceTable tr:first-child th:last-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

table.invoiceTable tr:last-child td:first-child {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

table.invoiceTable tr:last-child td:last-child {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

table.invoiceTable tr td a {
    font-size: 1.2em;
    display: inline-block;
}

table.invoiceTable tr td a:hover {
    text-decoration: underline;
}

table.invoiceTable tr td small {
    display: block;
    font-size: .9em;
    font-weight: 200;
}

table.invoiceTable a.mainButton {
    font-size: 1em;
}

table.invoiceTable a.mainButton:hover {
    text-decoration: none;
}

table.invoiceItem tr {

}

table.invoiceTable tbody tr th {
    font-weight: 200;
    background: var(--pageBG);
}

table.invoiceItem td {

}

table.invoiceItem th.first {
    width: 2%;
}

table.invoiceItem th.second {
    width: 25%;
}

table.invoiceItem th.sixth {
    width: 35%;
}

table.invoiceTable tr.newOrder td, table.invoiceTable tr.newOrder th {
    border-bottom: 3px double var(--pageBorder) !important;
}

table.invoiceTotal {
    width: 35%;
    float: left;
}

table.invoiceTotal th {
    width: 40%;
}

table.invoiceTotal tr:last-child td {
    font-size: 1.3em;
    font-weight: 400;
}

table.invoiceTotal td {
    text-align: left;
}

.addUser {
    color: white !important;
}

.addUser:hover {
    cursor: pointer;
}

.closeModal {
    color: white !important;
}

.closeModal:hover {
    cursor: pointer;
}

.alert-dismissible {
    padding-right: 1rem;
    text-align: right;
}

input.mainButton {
    display: inline-block;
    text-align: center;
    padding: 9px 15px;
    color: white;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
}

input.mainButton:hover {

}

input.mainButton i {
    color: white;
}

button.mainButton {
    display: inline-block;
    text-align: center;
    padding: 9px 15px;
    color: white;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
}

button.mainButton:disabled {
    cursor: no-drop;
    color: lightgray;
}

button.mainButton:hover {

}

button.mainButton i {
    color: white;
}

table.invoiceTable input.mainButton {
    font-size: 1em;
}

table.invoiceTable input.mainButton:hover {
    text-decoration: none;
}

input.grayButton {
    color: var(--myBlack);
    background: var(--myGray);
    border-color: var(--myGrayBorder);
}

input.grayButton i {
    color: var(--myBlack);
}

input.grayButton:hover {
    border-color: var(--myBlack);
}

button.grayButton {
    color: var(--myBlack);
    background: var(--myGray);
    border-color: var(--myGrayBorder);
}

button.grayButton i {
    color: var(--myBlack);
}

button.grayButton:hover {
    border-color: var(--myBlack);
}

table.cashTable {
    width: 100%;
}

table.cashTable tbody {

}

table.cashTable tbody tr {

}

table.cashTable tbody tr:hover {
    background-color: inherit;
}

table.cashTable tbody tr td {
    padding: 20px;
    text-align: center;
}

table.cashTable tbody tr td span {
    font-size: 1.5em;
    font-weight: 100;
}

table.cashTable tbody tr h4 {
    font-size: .9em;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--myGrayBorder);
}

table.cashTable tbody tr h4 i {

}

table.cashTable tbody tr small {
    display: block;
    font-weight: 100;
    color: var(--myGrayBorder);
}

table.cashTable tbody tr td.mainValue span {
    font-weight: 400;
    color: var(--myGreen);
}

.greenText {
    color: var(--myGreen);
}

.yellowText {
    color: var(--myYellow);
}

.fullWidthButton {
    width: 100%;
}

.smallButton {
    font-size: .8em !important;
    padding: 5px 10px !important;
}

.tableWrapper .tableName {
    width: 100%;
    margin: 0;
    border-bottom: 3px double var(--pageBorder);
    padding: 15px;
    text-align: center;
    background: var(--pageBG);
}

.saloonPageContent main {

}

.saloonPageContent .tableNavigation a {
    margin-bottom: 10px;
}

.tableLefty {
    margin: 15px 0 !important;
    float: left !important;
    margin-right: 10px !important;
}

main.pageContent .tableButtons nav {
    display: inline-block;
    margin-top: 15px;
}

.pageContent nav ol.breadcrumb {
    margin-bottom: 15px;
    background: none;
    padding: 10px;
    padding-right: 0;
}

.pageContent nav ol.breadcrumb li {
    padding: 0;
}

.pageContent nav ol.breadcrumb li a {
    font-weight: 300;
    color: var(--myGreen);
}

.pageContent nav ol.breadcrumb li.breadcrumb-item.active {
    font-weight: 100;
    color: var(--myGrayBorder);
}

.pageContent nav ol.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--myGrayBorder);
    content: "/";
}

main.pageContent div.tableButtons div.dateFilter span {
    font-weight: 100;
    color: var(--myGrayBorder);
    margin-top: 10px;
    display: inline-block;
}

main.pageContent div.tableButtons div.dateFilter input.listFilter {
    margin: 0 !important;
    margin-right: 10px !important;
    width: 130px;
}

tr.tableTotal td, tr.tableTotal th {
    background: white;
}

tr.tableTotal .redText {
    font-size: 1.2em;
    font-weight: 500;
}

.pageContent .reservationPageContent {
    margin-bottom: 50px;
}

.pageContent .reservationPageContent .reservationTable {
    display: inline-grid;
    width: auto;
    min-width: 60px;
    float: right;
}

.pageContent .reservationPageContent .reservationTable.reservationTableTimes {
    padding-top: 18px;
    width: auto;
}

.pageContent .reservationPageContent .reservationTable .reservationCell {
    border-left: 1px solid var(--pageBorder);
    height: 1.312em;
    border-top: 1px dotted var(--pageBorder);
}

.pageContent .reservationPageContent .reservationTable .hour {
    border-top: 2px solid var(--pageBorder);
}

.pageContent .reservationPageContent .reservationTable .minute {
}

.pageContent .reservationPageContent .reservationTable .reservationHeaderCell {
    text-align: center;
}

.pageContent .reservationPageContent .reservationTable.reservationTableTimes .reservationCell {
    margin-top: -10px;
    padding-left: 10px;
    border-top: none !important;
    font-weight: 100;
    border-color: var(--pageBorder) !important;
    line-height: 2.5em;
    font-size: .85em;
    min-height: 2.34em;
}

.pageContent .reservationPageContent .reservationTableTimes .hour {
    font-weight: 400 !important;
    font-size: 1em !important;
    line-height: 2.1em !important;
}

.pageContent .reservationPageContent .reservationTableTimes .minute {

    color: var(--myGrayBorder);
}

.pageContent .reservationPageContent .reservationTable:last-child .reservationCell {
    border-left: none;
}

.pageContent .reservationPageContent .reservationTable .reservationCell:first-child {
    border-top: none;
    padding: 0 5px;
}

.pageContent .reservationPageContent .reservationTable .reservationItem {
    position: relative;
    z-index: 1000;
    text-align: center;
    width: calc(100% - 4px);
    margin: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    margin-top: 2px;
    overflow: hidden;
}

.pageContent .reservationPageContent .reservationTable .reservationItem .reservationCount {
    display: block;
    padding: 5px;
}

.pageContent .reservationPageContent .reservationTable .reservationItem .reservationCount i {
    margin-left: 5px;
}

.pageContent .reservationPageContent .reservationTable .reservationItem .reservationName {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 10px 0;
    font-weight: 300;
    font-size: 1.2em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.arrived {
    background: var(--myGreen);
}

.pageContent .reservationPageContent .reservationTable .reservationItem.arrived .reservationCount {
    background: var(--myGreenBorder);
}

.pageContent .reservationPageContent .reservationTable .reservationItem.waiting {
    background: var(--myYellow);
}

.pageContent .reservationPageContent .reservationTable .reservationItem.waiting .reservationCount {
    background: var(--myYellowBorder);
}

.pageContent .reservationPageContent .reservationTable .reservationItem.walked {
    background: var(--myBlue);
}

.pageContent .reservationPageContent .reservationTable .reservationItem.walked .reservationCount {
    background: var(--myBlueBorder);
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H00M15 {
    height: 1.1em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H00M30 {
    height: 2.3em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H00M45 {
    height: 3.7em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H01M00 {
    height: 5em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H01M00 .reservationName {

}

.pageContent .reservationPageContent .reservationTable .reservationItem.H01M15 {
    height: 6.3em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H01M30 {
    height: 7.6em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H01M45 {
    height: 8.9em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H02M00 {
    height: 10.2em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H02M15 {
    height: 11.6em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H02M30 {
    height: 12.9em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H02M45 {
    height: 14.2em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H03M00 {
    height: 15.5em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H03M15 {
    height: 16.9em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H03M30 {
    height: 18.1em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H03M45 {
    height: 19.4em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H04M00 {
    height: 20.8em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H04M15 {
    height: 22.1em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H04M30 {
    height: 23.4em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H04M45 {
    height: 24.7em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H05M00 {
    height: 26em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H05M15 {
    height: 27.3em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H05M30 {
    height: 28.6em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H05M45 {
    height: 29.9em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H06M00 {
    height: 31.1em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H06M15 {
    height: 32.4em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H06M30 {
    height: 33.8em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H06M45 {
    height: 35em;
}

.pageContent .reservationPageContent .reservationTable .reservationItem.H07M00 {
    height: 36.4em;
}

.lefty {
    float: left;
    text-align: left;
}

.righty {
    float: right;
    text-align: right;
}

.iconic {
    font-size: 1.1em;
    margin-top: 20px;
    color: var(--myGreen);
}

.iconic i {
    font-size: 1.2em;
}

.iconic.lefty i {
    padding-right: 10px;
}

.iconic.righty i {
    padding-left: 10px;
}

.paymentMethod {
    width: 20%;
    margin-top: 10px;
}

.mainModal.alertModal {
    width: 40%;
    left: 30%;
    right: 30%;
    top: 0;
    border: none;
    bottom: inherit;
    padding: 15px !important;
}

.mainModal.alertModal .modal-dialog .modal-content .modal-body {
    position: relative;
    top: inherit;
    bottom: inherit;
    right: inherit;
    left: inherit;
    overflow: inherit;
    height: inherit;
    padding: 0;
}

.mainModal.alertModal .modal-dialog .modal-content .modal-body main {
    padding-right: 0;
}

.mainModal.alertModal .alertText {
    display: block;
    margin: 20px 0;
    font-size: 1em;
    font-weight: 100;
}

.mainModal.alertModal textaria {

}

.mainModal.alertModal.redAlertModal {
    border: 10px solid var(--myRed);
    border-top: 0;
}

.fa-star-of-life {
    font-size: 10px;
    color: red;
    margin-right: 6px;
}

#open-cash-button {
    background-color: #80ab51;
    cursor: pointer;
    margin-top: 20%;
    width: 100%;
}

#close-cash-button {
    background-color: #db4d54;
    cursor: pointer;
    margin-top: 20%;
    width: 100%;
}

.reservationItem:hover {
    cursor: pointer;
}

.iranian-number {
    font-family: IRANSansNums;
}

.reservationCell:hover {
    background: rgb(197, 197, 197) !important;
}

.popover {
    z-index: 1060 !important;
}

.arrow {
    border-bottom-color: transparent !important;
}

.popover-title {
    direction: ltr !important;
}

.clockpicker-button {
    font-family: IRANSans;
}

ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu.ng-scope {
    display: block;
    text-align: right;
}

.ui-select-match.ng-scope {
    border: thin solid lightgrey;
    border-radius: 7px;
}

i.fas.fa-caret-down {
    top: 10px;
    position: absolute;
    left: 10px;
    color: #727272;
}

span.btn.btn-default.form-control.ui-select-toggle {
    padding-top: 6px;
}

span.badge.badge-pill.badge-warning {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    padding: 5px;
    background: white;
    color: var(--myGreen);
    border: 1px solid var(--myGreen);
}

.tableNavigation a {
    position: relative;
}

.modal-body .badge.badge-pill {
    line-height: 15px;
    display: inline-block;
    height: 17px;
}

.tableWrapper span.badge.badge-info.ng-binding {
    font-size: 0.85em;
    padding: 0.8em;
    background-color: var(--myBlue);
}

.tableWrapper span.badge.badge-danger.ng-binding {
    font-size: 0.85em;
    padding: 0.8em;
    background-color: var(--myRed);
}

.tableWrapper span.badge.badge-success.ng-binding {
    font-size: 0.85em;
    padding: 0.8em;
    background-color: var(--myGreen);
}

.tableWrapper span.badge.badge-warning.ng-binding {
    font-size: 0.85em;
    padding: 0.8em;
    color: white;
    background-color: var(--myYellow);
}

.ui-widget-content {
    z-index: 1100 !important;
}

.settled_row {
    background: var(--pageBG);
}

.ui-state-default {
    font-family: 'IRANSansNums';
}

tags-input .tags {
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    box-shadow: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

tags-input .tags .input {
    float: right !important;
    font-size: inherit !important;
    height: auto !important;
    font-family: IRANSans !important;
}

tags-input .tags .tag-item {
    font-family: IRANSans !important;
    font-size: 0.75em !important;
}

.zoop5 {
    margin-top: 10px;
}

.menuNavTable th {
    padding: 10px !important;
    border-bottom: 1px dotted var(--pageBorder) !important;
}

.menuNavTable th:hover {
    background: var(--pageBorder);
}

.menuNavTable tr {
    border-top: 1px dotted var(--pageBorder) !important;
    border-right: 1px dotted var(--pageBorder) !important;
}

.menuNavTable tr:nth-child(2) {
    border-left: 1px dotted var(--pageBorder);
    background-color: white;
}

.menuNavTable tr:nth-child(2) th {
    font-weight: 300;
}

.dumb {
    min-height: 40px;
}

.menuNavTable tr:hover {
    cursor: pointer;
}

.menuNavTable th:hover {
    cursor: pointer;
}

.menuNavTable th.active {
    background: var(--pageBorder);
}

.preloader:before {
    position: absolute;
    content: '';
    display: block;
    top: 35%;
    width: 10%;
    height: 35%;
    background: url(/static/img/namak-main.gif);
    background-size: 8em 8em;
    background-repeat: no-repeat;
    left: 55%;
}

.page_button {
    min-height: 3em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1em !important;
}

.dashboard-col {
    border-left: 1px solid var(--pageBorder);
}

.page_button:hover {
    cursor: pointer;
    background-color: #7dc47d;
}

.inherit-display {
    display: inherit;
}

.badge.badge-pill.dashboard-badge {
    line-height: 15px;
    display: inline-block;
    font-size: 0.8em;
    padding: .8em;
}

.form-check-input {
    margin-right: -1.25rem;
}

.table-category-separation {
    display: inline-block;
    margin-left: 1.5em;
}

.tooltip {
    font-family: IRANSans;
}

.checkbox-unit {
    margin-bottom: 0 !important;
    flex-direction: column;
    display: flex;
    padding-left: 0 !important;
}

.checkbox-item {
    margin-bottom: 0;
    border: 1px dotted var(--pageBorder);
    padding: 0.7em !important;
}

.checkbox-item:hover {
    cursor: pointer;
    background-color: var(--pageBorder);
}

.table_category {
    border-bottom: 1px dotted var(--pageBorder);
    margin-bottom: 1em;
}

.table_category:nth-last-child(-n+2) {
    border-bottom: none;
    margin-bottom: 1em;
}

.red-cell {
    background: var(--myRed) !important;
}

.green-cell {
    background: var(--myGreen) !important;
}

.time_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.namak_logo {
    display: block;
    height: auto;
    width: 3.6em;
}