<div ng-controller="managerCtrl" class="pageSubMenu">
    <nav class=" nav nav-justified">
        <a ui-sref="cash_manager.salon" ng-class="isActive('/cash_manager/salon') ? 'nav-link active' : 'nav-link'">سالن</a>
        <a ui-sref="cash_manager.cash"  ng-class="isActive('/cash_manager/cash') ? 'nav-link active' : 'nav-link'">صندوق روزانه</a>
        <a ui-sref="cash_manager.invoices"  ng-class="isActive('/cash_manager/invoices') ? 'nav-link active' : 'nav-link'">فاکتور‌های امروز</a>
    </nav>
</div>
<div class="preloader" ng-show="is_page_loading"></div>
<div ng-hide="is_page_loading">
    <ui-view></ui-view>
</div>