<div ng-controller="memberCtrl">
    <div class="modal fade mainModal" id="addMemberModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت مشتری جدید</h2>
                    <a class="mainButton redButton closeModal" ng-click="closeForm()" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addMember()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن صفحه</a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات مشتری</h3>
                        <div class="row">
                            <div class="col">
                                <label>نام<i class="fas fa-star-of-life"></i></label>
                                <input ng-required="$touched" ng-model="new_member_data.first_name" type="text"
                                       aria-label="First name"
                                       class="form-control" placeholder="نام">
                            </div>
                            <div class="col">
                                <label>نام خانوادگی<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_member_data.last_name" type="text" aria-label="Last name"
                                       class="form-control" placeholder="نام خانوادگی">
                            </div>
                            <div class="col">
                                <label>شماره تلفن<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_member_data.phone" type="text" aria-label="Last name"
                                       class="form-control" placeholder="شماره تلفن">
                            </div>
                            <div class="col">
                                <label>روز تولد<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_member_data.day_of_birth" type="text" aria-label="Last name"
                                       class="form-control" placeholder="روز  تولد">
                            </div>
                            <div class="col">
                                <label>ماه تولد<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_member_data.month_of_birth" type="text" aria-label="Last name"
                                       class="form-control" placeholder="ماه  تولد">
                            </div>
                            <div class="col">
                                <label>سال تولد<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_member_data.year_of_birth" type="text" aria-label="Last name"
                                       class="form-control" placeholder="سال  تولد">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>دسته‌بندی<i class="fas fa-star-of-life"></i></label>
                                <select ng-model="new_member_data.category" class="form-control" id="sel1">
                                    <option ng-selected="1">دسته‌بندی</option>
                                    <option ng-selected="new_member_data.intro === 'search'" value="LIGHT">
                                        معرفی دوستان
                                    </option>
                                    <option ng-selected="new_member_data.intro === 'friends'" value="HEAVY">
                                        جست‌وجوی اینترنت
                                    </option>
                                    <option ng-selected="new_member_data.intro === 'instagram'" value="ABSTRACT">
                                        اینستاگرام
                                    </option>
                                    <option ng-selected="new_member_data.intro === 'roomiz'" value="FAMILY">
                                        سایت رومیز
                                    </option>
                                    <option ng-selected="new_member_data.intro === 'events'" value="FAMILY">
                                        شرکت در رویدادها
                                    </option>
                                    <option ng-selected="new_member_data.intro === 'other'" value="FAMILY">
                                        سایر
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <label>شماره کارت<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_member_data.card_number" type="text" aria-label="Last name"
                                       class="form-control" placeholder="شماره کارت">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <div class="tableButtons clearfix">
                    <input ng-keyup="searchMember()" ng-model="serach_data_member.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                    <a class="addUser mainButton greenButton" ng-click="openAddMemberModal()" data-toggle="modal"><i
                            class="fas fa-user-plus"></i> مشتری جدید</a>
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام مشتری</th>
                            <th scope="col">شماره عضویت</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="member in members">
                            <td scope="row">{{ $index + 1 | persianNumber }}</td>
                            <td scope="row">{{ member.last_name }}</td>
                            <th scope="row">{{ member.card_number }}</th>
                            <td><button ng-disabled="true" href=""
                                   class="mainButton fullWidthButton smallButton grayButton">جزییات</button></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </main>


        </div>
    </main>
</div>