<div ng-controller="closeOpenCashCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید بستن صندوق</h2>
                    <a ng-click="close_cash()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به بستن صندوق دارید؟ شما به طور خودکار خارج خواهید
                        شد.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons clearfix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">هزینه‌ها</li>
                </ol>
            </nav>
            <a ng-click="openPermissionModal()" href="" class="mainButton redButton tableLefty">بستن صندوق</a>
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">

                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">شماره</th>
                            <th scope="col">تاریخ شروع</th>
                            <th scope="col">زمان شروع</th>
                            <th scope="col">تاریخ پایان</th>
                            <th scope="col">زمان پایان</th>
                            <th scope="col">درآمد کلی ( ریال )</th>
                            <th scope="col">بسته شده</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cash in all_cashes">
                            <th scope="row">{{ cash.id | persianNumber }}</th>
                            <th scope="row">{{ cash.start_date | persianNumber }}</th>
                            <th scope="row">{{ cash.start_time | persianNumber }}</th>
                            <td>{{ cash.end_time | persianNumber }}</td>
                            <td>{{ cash.end_time | persianNumber }}</td>
                            <td>{{ cash.total_income | number | persianNumber }}</td>
                            <td><i ng-class="cash.is_closed === 1 ? 'far fa-check-circle' : 'far fa-times-circle'"></i></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>