{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/namak_logo.svg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/namak_logo.svg' %}">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#e38b5a">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="نمک">
    <meta property="og:title" content="نرم‌افزار مدیریت کار ( نمک )">
    <meta property="og:description" content="نرم‌افزار مدیریت کار برای مدیریت کسب و کار شما، نرم‌افزار همه‌جانبه و یکپارچه برای مدیریت کافه‌ها">
    <meta property="og:url" content="https://namak.works/">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:image" content="https://namak.works/static/img/namak_logo.svg">

    <title>نرم‌افزار آفلاین مدیریت کار ( نمک )</title>

    <script src="{% static 'libs/angular-1.7.9/angular.js' %}"></script>
    <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'libs/satellizer/dist/satellizer.min.js' %}"></script>
    <script src="{% static 'libs/angular-cookies/angular-cookies.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" id="bootstrap-css">

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'modules/mainpage/mainpageApp.js' %}"></script>
    <script src="{% static 'modules/mainpage/services/mainpageHttpRequest.js' %}"></script>
    <script src="{% static 'modules/mainpage/controllers/loginCtrl.js' %}"></script>

</head>
<body ng-app="mainpage">

<div class="topHeader container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a class="namak_logo" href="index.html">
                <img src="{% static 'img/namak_logo.svg' %}">
            </a>
        </div>
        <div class="col-sm-6 userInfo">

        </div>
        <div class="col-sm-4 time_container">
            <time ng-bind="clock | date:'HH:mm' | persianNumber"></time>
            <time ng-bind="get_today_var | persianNumber"></time>
        </div>
    </div>
</div>

<ui-view></ui-view>

</body>


</html>